<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a href="#" ui-sref="home" class="navbar-brand">Meaniscule</a>
    </div>
    
    <ul class="nav navbar-nav pull-right">
      <li><a href="#" ng-click="changeLanguage('en')" translate="BUTTON_TEXT_EN"></a></li>
      <li><a href="#" ng-click="changeLanguage('ja')" translate="BUTTON_TEXT_JA"></a></li>
      <li><a href="#" ng-click="changeLanguage('es')" translate="BUTTON_TEXT_ES"></a></li>
    </ul>
  </div>
</nav>